<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top navbar-modern">
    <div class="container">
        <a class="navbar-brand navbar-brand-modern fw-bold" href="/">
            <i class="fas fa-bolt brand-icon"></i>
            <span class="brand-text">PowerShare</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link nav-link-modern" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-modern" href="/#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-modern" href="/#how-it-works">How It Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-modern" href="/#pricing">Pricing</a>
                </li>
                <% if (typeof user !== 'undefined' && user) { %>
                    <li class="nav-item">
                        <a class="btn btn-gradient-primary btn-nav px-4 ms-3" href="/dashboard">
                            <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                        </a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link nav-link-modern px-3 ms-2" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-gradient-primary btn-nav px-4 ms-2" href="/register">
                            <i class="fas fa-rocket me-2"></i>Sign Up
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>